.App {
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  width: 60%;
  height: 50vh;
  max-height: 250px;
  word-wrap: normal;
  overflow: hidden;
  text-align: center;
}
.magic-button{
  height: 50px;
  width: 100px
}
.text-output{
  width: 60%;
  height: 50vh;
  max-height:250px;
  /* overflow: scroll; */
  border: 2px solid purple
}

.highlightable {
  border: 1px dotted black;
  display: inline;
  margin: .25em;
}

.highlightable:hover{
  background-color: yellow;
}